.new-tweet form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

textarea {
  width: 100%;
  height: 1.5em;
  background-color: #f4f1ec;
  border-bottom-style: solid;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom: #545149;
  resize: none;
}

.new-tweet div {
  font-family: 'Bungee';
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #4056a1;
  color: white;
  border: none;
} 


